

body{
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 16px;
  background-color: rgb(252, 252, 252);
}

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;

}


